@import "src/app/utils/mixins";

$text-color: #E7E7EB;
$secondary-color: #A09FB1;
$search-button-color: #6E707A;
$date-location-color: #88869D;
$sidebar-color: #1E213A;

:host {
  display: flex;
  flex-direction: column;


  @media (min-width: $tablet) and (min-height: $screen-height) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
  }

  .weather-panel {
    height: max-content;
    padding-bottom: 25px;
    background-size: 150%;
    background: $sidebar-color;
    transform: translateX(-100%);

    @media (min-width: $tablet) and (min-height: $screen-height) {
      @include leftBoard(260px);
    }

    @media (min-width: $tablet-pro) and (min-height: $screen-height) {
      @include leftBoard(370px);
    }

    @media (min-width: $large-screen) and (min-height: $screen-height) {
      @include leftBoard(440px);
    }

    &__buttons {
      display: flex;
      padding: 15px 25px;
      justify-content: space-between;

      @media (min-height: $screen-height) and (max-height: $height-primary) and (min-width: $tablet) {
        padding: 15px 25px;
      }

      .search-button {
        font-size: 16px;
        font-family: inherit;
        line-height: 18px;
        color: $text-color;
        padding: 9px 15px;
        background-color: $search-button-color;
        cursor: pointer;

        &:hover {
          background-color: rgba(234, 239, 244, 0.65);
        }
      }

      .current-location-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: $search-button-color;
        border: 2px solid $search-button-color;
        cursor: pointer;
        color: $text-color;

        &:hover {
          background-color: rgba(234, 239, 244, 0.65);
        }
      }
    }

    &__background {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 180px;
      background: linear-gradient(rgba(30,33,58,.9) 100%, rgba(30,33,58,.9) 100%), url('../assets/Cloud-background.png');
      background-size: 100%;
      background-position: 36% 57%;
      background-repeat: no-repeat;

      @media (min-height: $height-primary) {
        height: 230px;
      }

      .weather-icon {
        @include iconSize(170px);
        padding-right: 20px;

        @media (min-width: $tablet) {
          @include iconSize(130px);
        }

        @media (min-width: $tablet-pro) {
          @include iconSize(180px);
        }

        @media (min-width: $large-screen) {
          @include iconSize(190px);
        }
      }
    }

    &__temperature {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 0;

      .weather-temp {
        color: $text-color;
        font-size: 115px;
        line-height: 115px;
      }

      .weather-temp-unit {
        color: $secondary-color;
        font-size: 40px;
        padding-bottom: 10px;
      }
    }

    &__title {
      display: flex;
      justify-content: center;
      font-weight: 600;
      font-size: 36px;
      margin-top: 15px;
      line-height: 42px;
      color: $secondary-color;
      margin-top: 30px;

      @media (min-height: $screen-height) {
        margin-top: 50px;
      }
    }

    &__date {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      color: $date-location-color;
      gap: 17px;
      margin-top: 30px;

      @media (min-height: $screen-height) {
        margin-top: 50px;
      }

      .date-dot {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: $date-location-color;
      }
    }

    &__location {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;

      .location-flag {
        width: 15px;
      }

      .location-icon {
        color: $date-location-color;
      }

      .location-city {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        margin-left: 10px;
        color: $date-location-color;
      }
    }
  }

  .search-panel {
    height: 660px;
    background-color: $sidebar-color;
    padding: 20px 30px;

    @media (min-width: $tablet) and (min-height: $screen-height) {
      @include leftBoard(260px);
    }

    @media (min-width: $tablet-pro) and (min-height: $screen-height) {
      @include leftBoard(370px);
    }

    @media (min-width: $large-screen) and (min-height: $screen-height) {
      @include leftBoard(440px);
    }

    .search-panel__header {
      display: flex;
      justify-content: flex-end;
    }

    .close-icon {
      color: #E7E7EB;
      width: 18px;
      height: 18px;
      cursor: pointer;

      &:hover {
        color: rgba(234, 239, 244, 0.65)
      }
    }
  }

  .activeScroll {
    overflow-y: scroll;
  }
}
