<div class="weather-panel" *ngIf="!isShowPanel; else searchPanel">
  <div class="weather-panel__buttons">
    <button class="search-button">
      Search for places
    </button>
    <button class="current-location-button">
      <mat-icon
        svgIcon="target"
        class="target-icon"
      ></mat-icon>
    </button>
  </div>
  <div class="weather-panel__background">
    <mat-icon class="weather-icon" svgIcon="snow"></mat-icon>
  </div>
  <div class="weather-panel__temperature">
    <span class="weather-temp">15</span>
    <span class="weather-temp-unit">°C</span>
    <span class="weather-temp-unit">°F</span>
  </div>
  <span class="weather-panel__title">
    Shower
  </span>
  <div class="weather-panel__date">
    <div>Today</div>
    <div class="date-dot"></div>
    <div>Fri, 5 Jun</div>
  </div>
  <div>
    <mat-icon svgIcon="location-marker" style="color: white"></mat-icon>
  </div>
</div>
<app-forecast-content-container
  #story
  [ngClass]="{
    activeScroll: (isInfoBlockScrolled$ | async)
  }"
></app-forecast-content-container>

<ng-template #searchPanel>
  <div class="header-forecast-new">
  </div>
</ng-template>
